@import "utils";
@import "fonts";
@import "typography";

@mixin onDesktop {
  @media (min-width: 1020px) {
    @content;
  }
}

.page {
  &__body {
    margin: 0;
    background: $c-gray;

    font-family: 'Roboto', sans-serif;
  }
}

.header {
  background-image: url("../images/header-background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  &__content {
    box-sizing: border-box;
    height: 100vh;

    padding: 24px 20px 80px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    @include onDesktop {
      padding: 24px 40px 80px;
    }
  }

  &__nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__menu-opener {
    background-image: url("../images/menu.svg");


    &:hover {
      background-image: url("../images/menu_hover.svg");
    }
  }

  &__call {
    background-image: url("../images/phone.svg");
  }

  &__title {
    margin: 0;

    font-weight: 700;
    font-size: 46px;
    line-height: 40px;
    letter-spacing: -1px;
    color: #fff;

    @include onDesktop {
      font-size: 80px;
      line-height: 80px;
      letter-spacing: -1.5px;
    }

    &::before {
      margin-bottom: 24px;
      display: block;
      content: "";
      width: 40px;
      height: 2px;
      background-color: #fff;
    }
  }
}

.logo {
  &__image {
    height: 48px;

    @include onDesktop {
      height: 78px;
    }
  }
}

.container {
  margin: 0 auto;
  max-width: 320px;

  @include onDesktop {
    max-width: 1020px;
  }
}

.icon {
  width: 18px;
  height: 18px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;

  &--menu {
    
  }

  @include onDesktop {
    height: 24px;
    width: 24px;
  }
}